.header{
    height: 80px;
    background: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.menu a{
    padding-left: 32px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}
.menu a:hover{
    color: #fff;
}